
<div id="main-wrapper">
  <header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <%= image_tag "logo.png", :class => "light-logo" %>
        </b></a>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto mt-md-0">
          <li class="nav-item"> 
            <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
              <i class="mdi mdi-menu"></i>
            </a>
          </li>
          <li class="nav-item hidden-sm-down search-box">
            <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
              <i class="ti-search"></i>
            </a>
            <form class="app-search">
              <input type="text" class="form-control" placeholder="Search & enter">
              <a class="srh-btn">
                <i class="ti-close"></i>
              </a>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav my-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag "users/d2.jpg", :class => "profile-pic m-r-10"%>Dr. Wang</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
          <h3 class="text-themecolor">Welcome,  Dr.Wang </h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/welcome/index">Home</a></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-5">
          <div class="card">
            <div class="card-block">
              <center class="m-t-30"> 
                <%= if Rails.application.assets.find_asset("users/#{@picture.pic}") != nil then image_tag "users/#{@picture.pic}", :class => "img-circle", :style => "width:150px" end %>
                <%= if Rails.application.assets.find_asset("users/#{@picture.pic}") == nil then image_tag "users/DEFAULT.png", :class => "img-circle", :style => "width:150px" end %>                    
                <h4 class="card-title m-t-10"><%= @picture.name%></h4>
                <div class="row text-center justify-content-md-center">
                  <div class="col-4">
                    <font class="font-medium">
                      <span>
                        <div>Age: <%= @picture.age%></div>                      
                        <div>Height: <%= @picture.height%></div>
                        <div>Weight: <%= @picture.weight%></div>
                      <span>
                    </font>
                  </div>
                </div>
              </center>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
          <div class="card">
            <div class="card-block">
              <div>Reasons for Visit</div>
              <div>*Feeling sick</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <span>
              <%= link_to 'Heartrate', stats_index_path(:id => @patient) %>
              <%= link_to 'Prescription', stats_prescription_path(:id => @patient) %>
              <%= link_to 'Medical History', stats_history_path(:id => @patient) %>
              <%= link_to 'Notes', stats_notes_path(:id => @patient) %>
              <%= link_to 'Messages', stats_messaging_path(:id => @patient) %>              
            </span>
            <div class="card-block">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-wrap">
                    <div>
                      <h3 class="card-title">Heartrate (bpm)</h3>
                      <%= form_tag(stats_index_path, method: "get") do %>
                        <div>
                          <%= text_field_tag :startYear, nil, placeholder: 'Year' %>
                          <%= text_field_tag :startMonth, nil, placeholder: 'Month' %>
                          <%= text_field_tag :startDay, nil, placeholder: 'Day' %>
                        </div>
                        <div>
                          <%= text_field_tag :endYear, nil, placeholder: 'Year' %>
                          <%= text_field_tag :endMonth, nil, placeholder: 'Month' %>
                          <%= text_field_tag :endDay, nil, placeholder: 'Day' %>
                        </div>
                        <%= hidden_field_tag :id, @patient %>
                        <p>
                          <%= submit_tag("Submit") %>
                        </p>
                      <% end %>
                  </div>
                </div>
              <div class ="tab">
                <button class="tablinks" onclick="openGraph(event, 'Main')" id="defaultOpen">Main</button>
                <button class="tablinks" onclick="openGraph(event, 'Outliers')">Outliers</button>
                <button class="tablinks" onclick="openGraph(event, 'Warnings')">Warnings</button>
                <button class="tablinks" onclick="openGraph(event, 'Live')">Live</button>
              </div>
                <div class="col-12">
                <div id="Main" class="tabcontent">
                  <div class="amp-pxl" style="height: 360px;">
                    <div style="width:1000px">
                      <canvas id="chart1"></canvas>
                    </div>
                    <script>
                      <% 
                        date = []
                        datapoints = []
                        @heartrates.each  do |heartrate|
                          date << heartrate['created_at']
                          datapoints << heartrate['value']
                        end
                      %>
                      var labels1 = <%= raw date.to_json %>;
                      var data = <%= raw datapoints.to_json %>;
                      var labels = [];
                      var dateFormat = 'YYYY-MM-DD HH:mm:ss';
                      for (i=0; i<labels1.length; i++) {
                        labels.push(moment(labels1[i], dateFormat));
                      }
                      var ctx = document.getElementById('chart1').getContext('2d');
                      ctx.canvas.width = 1000;
                      ctx.canvas.height = 300;
                      var color = Chart.helpers.color;
                      var cfg = {
                        type: 'line',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'HeartRates',
                            data: data,
                                  backgroundColor: "rgb(252, 161, 136)",
                                  borderColor: "red",
                            type: 'line',
                            pointRadius: 3,
                            fill: true,
                            lineTension: 0,
                            borderWidth: 2
                          }]
                        },
                        options: {
                          responsive: false,
                          scales: {
                            xAxes: [{
                              type: 'time',
                              distribution: 'linear',
                              ticks: {
                                source: 'labels'
                              }
                            }],
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'HeartRate Values'
                              },
                                ticks: {
                                beginAtZero:true
                              }
                            }]
                          }
                        }
                      };
                      var chart = new Chart(ctx, cfg);
                    </script>
                  </div>
                </div>
                </div>
                <div id="Outliers" class="tabcontent">
                  <div class="amp-pxl" style="height: 360px;">
                    <div style="width:1000px">
                      <canvas id="chart2"></canvas>
                    </div>
                    <script>
                      <% 
                        date = []
                        datapoints = []
                        @heartrates.each  do |heartrate|
                          date << heartrate['created_at']
                          datapoints << heartrate['value']
                        end
                      %>
                      var labels1 = <%= raw date.to_json %>;
                      var data = <%= raw datapoints.to_json %>;
                      var labels = [];
                      var dateFormat = 'YYYY-MM-DD HH:mm:ss';
                      for (i=0; i<labels1.length; i++) {
                        labels.push(moment(labels1[i], dateFormat));
                      }
                      var ctx = document.getElementById('chart2').getContext('2d');
                      ctx.canvas.width = 1000;
                      ctx.canvas.height = 300;
                      var color = Chart.helpers.color;
                      var cfg = {
                        type: 'bar',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'HeartRates w/Outliers',
                            data: data,
                                  backgroundColor: "green",
                                  borderColor: "lightgreen",
                            type: 'line',
                            pointRadius: 3,
                            fill: false,
                            lineTension: 0,
                            borderWidth: 2
                          }]
                        },
                        options: {
                          responsive: false,
                          scales: {
                            xAxes: [{
                              type: 'time',
                              distribution: 'series',
                              ticks: {
                                source: 'labels'
                              }
                            }],
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'HeartRate Values'
                              },
                                ticks: {
                                beginAtZero:true
                              }
                            }]
                          }
                        }
                      };
                      var chart = new Chart(ctx, cfg);
                    </script>
                  </div>
                </div>
                <div id="Warnings" class="tabcontent">
                  <div class="amp-pxl" style="height: 360px;">
                    <div style="width:1000px">
                      <canvas id="chart3"></canvas>
                    </div>
                    <script>
                      <% 
                        date = []
                        datapoints = []
                        @heartrates.each  do |heartrate|
                          date << heartrate['created_at']
                          datapoints << heartrate['value']
                        end
                      %>
                      var labels1 = <%= raw date.to_json %>;
                      var data = <%= raw datapoints.to_json %>;
                      var labels = [];
                      var dateFormat = 'YYYY-MM-DD HH:mm:ss';
                      for (i=0; i<labels1.length; i++) {
                        labels.push(moment(labels1[i], dateFormat));
                      }
                      var ctx = document.getElementById('chart3').getContext('2d');
                      ctx.canvas.width = 1000;
                      ctx.canvas.height = 300;
                      var color = Chart.helpers.color;
                      var cfg = {
                        type: 'bar',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'Warnings',
                            data: data,
                                  backgroundColor: "green",
                                  borderColor: "lightgreen",
                                  pointBackgroundColor: "green",
                            type: 'line',
                            pointRadius: 10,
                            fill: false,
                            lineTension: 0,
                            borderWidth: 2
                          }]
                        },
                        options: {
                          responsive: false,
                          tooltips: {
                            callbacks:{
                              label: function(tooltipItem, data){
                                var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || 'Other';
                                var label = data.labels[tooltipItem.index];
                                var datanumber = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                if (datanumber > 100){
                                return  'HIGH BPM';
                                }
                                else if (datanumber < 55){
                                  return 'LOW BPM';
                                }
                                else {
                                  return datanumber;
                                }
                              }
                            }
                          },
                          scales: {
                            xAxes: [{
                              type: 'time',
                              distribution: 'series',
                              ticks: {
                                source: 'labels'
                              }
                            }],
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'HeartRate Values'
                              },
                                ticks: {
                                beginAtZero:true
                              }
                            }]
                          }
                        }
                      };
                      
                      var myChart = new Chart(ctx, cfg);
                      for (i = 0; i < myChart.data.datasets[datasetIndex].data.length; i++) {
                        if (myChart.data.datasets[0].data[i] > 100) {
                              pointBackgroundColors.push("#90cd8a");
                          } else {
                              pointBackgroundColors.push("#f58368");
                          }
                      }
                      myChart.update();
                    </script>
                  </div>
                </div>
                <div id="Live" class="tabcontent">
                  <div class="amp-pxl" style="height: 360px;">
                    <div style="width:1000px">
                      <canvas id="chart4"></canvas>
                    </div>
                    <script>
                      <% 
                        date = []
                        datapoints = []
                        @heartrates.each  do |heartrate|
                          date << heartrate['created_at']
                          datapoints << heartrate['value']
                        end
                      %>
                      var labels1 = <%= raw date.to_json %>;
                      var data = <%= raw datapoints.to_json %>;
                      var labels = [];
                      var dateFormat = 'YYYY-MM-DD HH:mm:ss';
                      for (i=0; i<labels1.length; i++) {
                        labels.push(moment(labels1[i], dateFormat));
                      }
                      var ctx = document.getElementById('chart4').getContext('2d');
                      ctx.canvas.width = 1000;
                      ctx.canvas.height = 300;
                      var color = Chart.helpers.color;
                      var cfg = {
                        type: 'bar',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'Current Heartrate',
                            data: data,
                                  backgroundColor: "green",
                                  borderColor: "lightgreen",
                            type: 'line',
                            pointRadius: 3,
                            fill: false,
                            lineTension: 0,
                            borderWidth: 2
                          }]
                        },
                        options: {
                          responsive: false,
                          scales: {
                            xAxes: [{
                              type: 'realtime'
                            }],
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'HeartRate Values'
                              },
                                ticks: {
                                beginAtZero:true
                              }
                            }]
                          }
                        }
                      };
                      var chart = new Chart(ctx, cfg);
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>