
<div id="main-wrapper">
  <header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
      <div class="navbar-collapse">
        <ul class="navbar-nav my-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link waves-dark" href="/welcome/index" ><%= image_tag "logo.png", :class => "profile-pic m-r-10"%></a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-md-0">
          <li class="nav-item"> 
            <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
              <i class="mdi mdi-menu"></i>
            </a>
          </li>
          <li class="nav-item hidden-sm-down search-box">
            <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
              <i class="ti-search"></i>
            </a>
            <form class="app-search">
              <input type="text" class="form-control" placeholder="Search & enter">
              <a class="srh-btn">
                <i class="ti-close"></i>
              </a>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav my-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag "users/DAVID.png", :class => "profile-pic m-r-10"%>Dr. Halman</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-5">
          <div class="card">
            <div class="card-block">
              <center class="m-t-30"> 
                <%= if Rails.application.assets.find_asset("users/#{@picture.pic}") != nil then image_tag "users/#{@picture.pic}", :class => "img-circle", :style => "width:150px" end %>
                <%= if Rails.application.assets.find_asset("users/#{@picture.pic}") == nil then image_tag "users/DEFAULT.png", :class => "img-circle", :style => "width:150px" end %>                    
                <h4 class="card-title m-t-10"><%= @picture.name%></h4>
                <div class="row text-center justify-content-md-center">
                  <div class="col-4">
                    <font class="font-medium">
                      <span>
                        <div>Age: <%= @picture.age%></div>                      
                        <div>Height: <%= @picture.height%></div>
                        <div>Weight: <%= @picture.weight%></div>
                      <span>
                    </font>
                  </div>
                </div>
              </center>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
          <div class="card">
            <div class="card-block">
              <div>Reasons for Visit</div>
              <div>*Feeling sick</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <span>
              <%= link_to 'Messages', stats_messaging_path(:id => @patient) %>              
            </span>
            <div class="card-block">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-wrap">
                    <div>
                      <h3 class="card-title">Heartrate (bpm)</h3>
                  </div>
                </div>
              <div class ="tab">
                <button class="tablinks" onclick="openGraph(event, 'Main')" id="defaultOpen">Raw</button>
                <button class="tablinks" onclick="openGraph(event, 'Outliers')">Last 24 Hours Raw</button>
                <button class="tablinks" onclick="openGraph(event, 'Warnings')">Last 24 Hours Average</button>
                <button class="tablinks" onclick="openGraph(event, 'Live')">Weekly Comparison</button>
              </div>
                <div id="Main" class="tabcontent">
                  <div class="amp-pxl" style="height: 360px;">
                    <div style="width:1000px">
                      <canvas id="chart1"></canvas>
                    </div>
                    <script>
                      <% 
                        date = []
                        datapoints = []
		                    symptoms = []
                        @heartrates.each  do |heartrate|
                          date << heartrate['time']
                          datapoints << heartrate['value']
                          symptoms << heartrate['symptom']
                        end
                      %>
                      var labels1 = <%= raw date.to_json %>;
                      var data = <%= raw datapoints.to_json %>;
	                    var symptomsList = <%= raw symptoms.to_json %>;
                      var labels = [];
                      var dateFormat = 'YYYY-MM-DD HH:mm:ss';
                      for (i=0; i<labels1.length; i++) {
                        labels.push(moment(labels1[i], dateFormat));
                      }
                      var ctx = document.getElementById('chart1').getContext('2d');
                      ctx.canvas.width = 1000;
                      ctx.canvas.height = 300;
                      var color = Chart.helpers.color;
                      var cfg = {
                        type: 'line',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'HeartRates',
                            data: data,
                            backgroundColor: "rgb(252, 161, 136)",
					                  borderColor: "red",
                            type: 'line',
                            pointBackgroundColor: [],
                            pointBorderColor: [],
                            pointRadius: [],
                            fill: true,
                            lineTension: 0,
                            borderWidth: 2,
                          },]
                        },
                        options: {
                          responsive: false,
                          tooltips: {
                            callbacks:{
                              label: function(tooltipItem, data){
                                var datanumber = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                if (symptomsList[tooltipItem.index]){
                                  return `${datanumber} : ${symptomsList[tooltipItem.index]}`;
                                }
                                else {
                                  return datanumber;
                                }
                              }
                            }
                          },
                          scales: {
                            xAxes: [{
                              type: 'time',
                              distribution: 'linear',
                            }],
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'HeartRate Values'
                              },
                              ticks: {
                                beginAtZero:true
                              }
                            }]
                          },
                          plugins: {
                            datalabels: {
                                display: false,
                            },
                          }
                        }
                      };
                      var myChart = new Chart(ctx, cfg);
                      for (i = 0; i < myChart.data.datasets[0].data.length; i++) {
                        if (symptomsList[i]) {
                          myChart.data.datasets[0].pointBackgroundColor.push("black");
                          myChart.data.datasets[0].pointBorderColor.push("black");
                          myChart.data.datasets[0].pointRadius.push(3);
                        } else {
                          myChart.data.datasets[0].pointBackgroundColor.push("rgb(252, 161, 136)");
                          myChart.data.datasets[0].pointBorderColor.push("red");
                          myChart.data.datasets[0].pointRadius.push(1);
                        }
                      }
	                    myChart.update();
                    </script>
                  </div>
                </div>
                <div id="Outliers" class="tabcontent">
                  <div class="amp-pxl" style="height: 360px;">
                    <div style="width:1000px">
                      <canvas id="chart2"></canvas>
                    </div>
                    <script>
                      <% 
                        date = []
                        datapoints = []
                        symptoms = []
                        @todayRaw.each  do |heartrate|
                          date << heartrate['time']
                          datapoints << heartrate['value']
		                    	symptoms << heartrate['symptom']
                        end
                      %>
                      var labels1 = <%= raw date.to_json %>;
                      var data = <%= raw datapoints.to_json %>;
	                    var symptomsList = <%= raw symptoms.to_json %>;
                      var labels = [];
                      var dateFormat = 'YYYY-MM-DD HH:mm:ss';
                      for (i=0; i<labels1.length; i++) {
                        labels.push(moment(labels1[i], dateFormat));
                      }
                      var ctx = document.getElementById('chart2').getContext('2d');
                      ctx.canvas.width = 1000;
                      ctx.canvas.height = 300;
                      var color = Chart.helpers.color;
                      var cfg = {
                        type: 'line',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'HeartRates w/Outliers',
                            data: data,
                            backgroundColor: "rgb(252, 161, 136)",
					                  borderColor: "red",
                            type: 'line',
                            pointBackgroundColor: [],
                            pointBorderColor: [],
                            pointRadius: [],
                            fill: true,
                            lineTension: 0,
                            borderWidth: 2
                          }]
                        },
                        options: {
                          responsive: false,
                          tooltips: {
                            callbacks:{
                              label: function(tooltipItem, data){
                                var datanumber = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                if (symptomsList[tooltipItem.index]){
                                  return `${datanumber} : ${symptomsList[tooltipItem.index]}`;
                                }
                                else {
                                  return datanumber;
                                }
                              }
                            }
                          },
                          scales: {
                            xAxes: [{
                              type: 'time',
                              distribution: 'series',
                            }],
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'HeartRate Values'
                              },
                              ticks: {
                                beginAtZero:true
                              }
                            }]
                          },
                          plugins: {
                            datalabels: {
                                display: false,
                            },
                          }
                        }
                      };
                      var myChart = new Chart(ctx, cfg);
                      var myChart = new Chart(ctx, cfg);
                      for (i = 0; i < myChart.data.datasets[0].data.length; i++) {
                        if (symptomsList[i]) {
                          myChart.data.datasets[0].pointBackgroundColor.push("black");
                          myChart.data.datasets[0].pointBorderColor.push("black");
                          myChart.data.datasets[0].pointRadius.push(3);
                        } else {
                          myChart.data.datasets[0].pointBackgroundColor.push("rgb(252, 161, 136)");
                          myChart.data.datasets[0].pointBorderColor.push("red");
                          myChart.data.datasets[0].pointRadius.push(1);
                        }
                      }
	                    myChart.update();
                    </script>
                  </div>
                </div>
                <div id="Warnings" class="tabcontent">
                  <div class="amp-pxl" style="height: 360px;">
                    <div style="width:1000px">
                      <canvas id="chart3"></canvas>
                    </div>
                    <script>
                      <% 
                        date = @hourlyTimeToday
                        datapoints = @hourlyAverageToday
                      %>
                      var labels1 = <%= raw date.to_json %>;
                      var data = <%= raw datapoints.to_json %>;
                      var labels = [];
                      var dateFormat = 'YYYY-MM-DD HH:mm:ss';
                      for (i=0; i<labels1.length; i++) {
                        labels.push(moment(labels1[i], dateFormat));
                      }
                      var ctx = document.getElementById('chart3').getContext('2d');
                      ctx.canvas.width = 1000;
                      ctx.canvas.height = 300;
                      var color = Chart.helpers.color;
                      var cfg = {
                        type: 'line',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'HeartRates w/Outliers',
                            data: data,
                            backgroundColor: "green",
                            borderColor: "lightgreen",
                            pointBackgroundColor: [],
                            type: 'line',
                            pointRadius: 1,
                            fill: true,
                            lineTension: 0,
                            borderWidth: 2
                          }]
                        },
                        options: {
                          responsive: false,
                          scales: {
                            xAxes: [{
                              type: 'time',
                              distribution: 'series',
                            }],
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'HeartRate Values'
                              },
                              ticks: {
                                beginAtZero:true
                              }
                            }]
                          },
                          plugins: {
                            datalabels: {
                                display: false,
                            },
                          }
                        }
                      };
                      
                      var myChart = new Chart(ctx, cfg);
                    </script>
                  </div>
                </div>
                <div id="Live" class="tabcontent">
                  <div class="amp-pxl" style="height: 360px;">
                    <div style="width:1000px">
                      <canvas id="chart4"></canvas>
                    </div>
                    <script>
                      <% 
                        date = @hourlyTimeToday
                        rawWeekly1 = @weekly1
                        rawWeekly2 = @weekly2
                        rawWeekly3 = @weekly3
                        rawWeekly4 = @weekly4
                      %>
                      var labels1 = <%= raw date.to_json %>;
                      var weekly1 = <%= raw rawWeekly1.to_json %>;
                      var weekly2 = <%= raw rawWeekly2.to_json %>;
                      var weekly3 = <%= raw rawWeekly3.to_json %>;
                      var weekly4 = <%= raw rawWeekly4.to_json %>;
                      var labels = [];
                      var dateFormat = 'YYYY-MM-DD HH:mm:ss';
                      for (i=0; i<labels1.length; i++) {
                        labels.push(moment(labels1[i], dateFormat));
                      }
                      var ctx = document.getElementById('chart4').getContext('2d');
                      ctx.canvas.width = 1000;
                      ctx.canvas.height = 300;
                      var color = Chart.helpers.color;
                      var cfg = {
                        type: 'line',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'Last Week',
                            data: weekly1,
                            backgroundColor: "rgb(252, 161, 136)",
					                  borderColor: "red",
                            type: 'line',
                            pointRadius: 1,
                            fill: false,
                            lineTension: 0,
                            borderWidth: 2,
                          },
                          {
                            label: '2 Weeks ago',
                            data: weekly2,
                            backgroundColor: "rgb(116, 252, 136)",
					                  borderColor: "green",
                            type: 'line',
                            pointRadius: 1,
                            fill: false,
                            lineTension: 0,
                            borderWidth: 2,
                          },
                          {
                            label: '3 Weeks ago',
                            data: weekly3,
                            backgroundColor: "rgb(116, 136, 252)",
					                  borderColor: "blue",
                            type: 'line',
                            pointRadius: 1,
                            fill: false,
                            lineTension: 0,
                            borderWidth: 2,
                          },
                          {
                            label: '4 Weeks ago',
                            data: weekly4,
                            backgroundColor: "rgb(0, 0, 0)",
					                  borderColor: "black",
                            type: 'line',
                            pointRadius: 1,
                            fill: false,
                            lineTension: 0,
                            borderWidth: 2,
                          },
                          ]
                        },
                        options: {
                          responsive: false,
                          scales: {
                            xAxes: [{
                              type: 'time',
                              distribution: 'linear',
                            }],
                            yAxes: [{
                              scaleLabel: {
                                display: true,
                                labelString: 'HeartRate Values'
                              },
                              ticks: {
                                beginAtZero:true
                              }
                            }]
                          },
                          plugins: {
                            datalabels: {
                                display: false,
                            },
                          }
                        }
                      };
                      var chart = new Chart(ctx, cfg);
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>