<body>
   <div id="main-wrapper">
      <header class="topbar">
         <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
            <div class="navbar-header">
               <a class="navbar-brand" href="index.html">
               <%= image_tag "logo.png", :class => "light-logo" %>
               </b></a>
            </div>
            <div class="navbar-collapse">
               <ul class="navbar-nav mr-auto mt-md-0">
                  <li class="nav-item"> 
                     <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                     <i class="mdi mdi-menu"></i>
                     </a>
                  </li>
                  <li class="nav-item hidden-sm-down search-box">
                     <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                     <i class="ti-search"></i>
                     </a>
                     <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter">
                        <a class="srh-btn">
                        <i class="ti-close"></i>
                        </a>
                     </form>
                  </li>
               </ul>
               <ul class="navbar-nav my-lg-0">
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag "users/d2.jpg", :class => "profile-pic m-r-10"%>Dr. Wang</a>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <div class="container-fluid">
         <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
               <h3 class="text-themecolor">Welcome,  Dr.Wang </h3>
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard</li>
               </ol>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4 col-xlg-3 col-md-5">
               <div class="card">
                  <div class="card-block">
                     <center class="m-t-30">
                        <%= if Rails.application.assets.find_asset("users/#{@picture.pic}") != nil then image_tag "users/#{@picture.pic}", :class => "img-circle", :style => "width:150px" end %>
                        <%= if Rails.application.assets.find_asset("users/#{@picture.pic}") == nil then image_tag "users/DEFAULT.png", :class => "img-circle", :style => "width:150px" end %>                    
                        <h4 class="card-title m-t-10"><%= @picture.name%></h4>
                        <div class="row text-center justify-content-md-center">
                           <div class="col-4">
                              <font class="font-medium">
                                 <span>
                                 <div>Age: <%= @picture.age%></div>
                                 <div>Height: <%= @picture.height%></div>
                                 <div>Weight: <%= @picture.weight%></div>
                                 <span>
                              </font>
                           </div>
                        </div>
                     </center>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7">
               <div class="card">
                  <div class="card-block">
                     <div>Reasons for Visit</div>
                     <div>*Feeling sick</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="card">
                  <span>
                  <%= link_to 'Heartrate', stats_index_path(:id => @patient) %>
                  <%= link_to 'Prescription', stats_prescription_path(:id => @patient) %>
                  <%= link_to 'Medical History', stats_history_path(:id => @patient) %>
                  <%= link_to 'Notes', stats_notes_path(:id => @patient) %>
                  <%= link_to 'Messages', stats_messaging_path(:id => @patient) %>              
                  </span>
                  <div class="card-block">
                     <div class="row">
                        <div class="col-12">
                           <div class="amp-pxl" style="height: 360px;">
                              <div class="mesgs">
                                 <%-#chat starts here -%>
                                 <div class="msg_history" style="overflow-x: hidden;" id="msg_history">
                                    <div class="row" id="chat-list"></div>
                                 </div>
                                 <div class="type_msg">
                                    <div class="input_msg_write">
                                      <input>
                                      <form>
                                       <input type='text' data-key='name' value="Dr. Halman" hidden class="user-input"><br>
                                       <input type='text' data-key='sender_id' value="physcid1" hidden class="user-input"><br>
                                       <input type='text' data-key='text' class="user-input" placeholder="Write a message"><br>
                                       <button type='button' id="add-user-btn">enter</button>
                                      </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--
   <section id="add-user-module" >
      <button id="open-add-user-form-btn">+</button>
      <form>
         <h2>Add User</h2>
         name:<br>
         <input type='text' data-key='name' class='user-input'><br>
         sender_id:<br>
         <input type='text' data-key='sender_id' class='user-input'><br>
         text:<br>
         <input type='text' data-key='text' class='user-input'><br>
      </form>
   </section>
-->
   </p>
<!--   <div id="chat-list"></div> -->
   <ul id="user-list"></ul> 
   <div id="user-detail"></div>
   <p id="user-list-once">
   </p>
   <%= javascript_include_tag "fbmessage", "data-turbolinks-track" => true  %>
</body>