<p id="notice"><%= notice %></p>

<h1>Heartrates</h1>

<table>
  <thead>
    <tr>
      <th>Device</th>
      <th>Value</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heartrates.each do |heartrate| %>
      <tr>
        <td><%= heartrate.device %></td>
        <td><%= heartrate.value %></td>
        <td><%= heartrate.time %></td>
        <td><%= link_to 'Show', heartrate %></td>
        <td><%= link_to 'Edit', edit_heartrate_path(heartrate) %></td>
        <td><%= link_to 'Destroy', heartrate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heartrate', new_heartrate_path %>
